@model IEnumerable<SonmezERP.Models.DashboardSettings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>


@foreach(var item in Model)
{
@*       <p>@item.IconePath</p>
 *@      <partial name="_DepartmentCard" model="@item"/>

}



<div class="input-group mb-3">
    <span class="input-group-text w-25" style="font-size: 12px"
          id="basic-addon1">Yarımamul Kdv</span>
    <select class="form-control   form-select form-select-sm js-example-basic-single" id="Kdv" name="tax">
        <option value="">Kdv Seçiniz</option>
        <option value=""></option>
    </select>












<div class="input-group mb-3">
    
    <select class="form-control form-select form-select-sm js-example-basic-single" name="category" >
        <option value="">Grup Seçiniz</option>
        @foreach (var item in Model ){
            <option value="@item.Id">@item.DepartmentName</option>
        }
    </select>

</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControllerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconePath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
