@model IEnumerable<SonmezERP.Models.ProductInputLogList>

@{
    ViewData["Title"] = "Index";
}

<div class="my-3">
    <a class="btn btn-success d-xl-block my-3" asp-action="Create">Stok Girişi Yap</a>

</div>
<hr />
<div class="text-center my-3">
    <h4 class="bold">Stok Giriş Kayıtları</h4>
</div>
<div class="table-responsive">
    <table class="table table-hover table-dark table-striped-columns text-md-center">
        <thead>
            <tr>
                <th>
                    Grişi Tarihi
                </th>
                <th>Ürün Adı</th>
                <th>Ürün Rengi</th>
                <th>Girilen Miktar</th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reverse())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product!.ProductNameTr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product!.Color!.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InputQuantity)
                        @Html.DisplayFor(modelItem => item.Product!.UnitsOfMeasurement!.UnitsOfMeasurementName)
                    </td>

                    <td>
                       
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center">
    <button class="btn btn-primary " id="back">
        <i class="fa-solid fa-arrow-left"></i>
        Back</button>
</div>
