@model IEnumerable<SonmezERP.Models.ProductDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row d-flex justify-content-center">
    <a class="btn btn-success col-4 my-3" asp-action="Create">Create New</a>
    <div class="col-2"></div>
    <a class="btn btn-info col-4 my-3" asp-controller="home" asp-action="index">Ana Sayfaya Dön</a>
</div>
<span class="badge text-bg-warning my-3">Tanımlı Ürün Sayısı : @Model.Count()</span>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductHight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackagePices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descreption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductWeight) K.G
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageWidth) m.m
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageSize) m.m
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageHight) m.m
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackagePices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descreption)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
