@model IEnumerable<Kdv>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row d-flex justify-content-evenly">
    <a class="btn btn-success col-4 my-3" asp-action="Create">Create New</a>
    <div class="col-2"></div>
    <a class="btn btn-info col-4 my-3" asp-controller="home" asp-action="index">Ana Sayfaya Dön</a>
</div>
<hr>
<p>
    <a class="btn btn-success d-flex justify-content-center" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-hover table-dark table-striped-columns text-md-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KdvName)
                </th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KdvName)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i
                                class="fa-solid fa-pen-to-square"></i></a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i
                                class="fa-solid fa-circle-info"></i></a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-primary justify-content-center " id="back">
            <i class="fa-solid fa-arrow-left"></i>
            Back</button>
    </div>
</div>
