@model SonmezERP.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Product</h4>
<hr />
<div class="row">
    <dl class="row col-md-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Brand!.BrandName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Brand!.BrandName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Category!.CategoryName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Category!.CategoryName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductNameTr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductNameTr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductNameEn)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductNameEn)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Color!.ColorName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Color!.ColorName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PriceTl)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PriceTl) ₺
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PriceUSD)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PriceUSD) $
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Kdv)
        </dt>
        <dd class="col-sm-8">
            %@Html.DisplayFor(model => model.Kdv!.KdvName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UnitsOfMeasurement!.UnitsOfMeasurementName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UnitsOfMeasurement!.UnitsOfMeasurementName)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CeateDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CeateDate)
        </dd>
    </dl>
    <dl class="row col-md-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.ProductWidth)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.ProductWidth) m.m
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.ProductHight)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.ProductHight) m.m
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.ProductSize)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.ProductSize) m.m
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.ProductWeight)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.ProductWeight) K.G
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.PackagePices)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.PackagePices) @Html.DisplayFor(model => model.UnitsOfMeasurement!.UnitsOfMeasurementName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.CubicMeter)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.CubicMeter) m³
        </dd>
        <dt class="col-sm-4">
            <h6 class="fw-bold">Paket Ağırlığı</h6>
        </dt>
        <dd class="col-sm-8">
            <h6>@($"{Convert.ToDouble(((Convert.ToDouble(Model.ProductDetails!.ProductWeight) * Convert.ToDouble(Model.ProductDetails.PackagePices)))).ToString("0.## K.G")}")</h6>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model=>model.ProductDetails!.Tir)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.Tir) @Html.DisplayFor(model => model.UnitsOfMeasurement!.UnitsOfMeasurementName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDetails!.Container) 
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProductDetails!.Container) @Html.DisplayFor(model => model.UnitsOfMeasurement!.UnitsOfMeasurementName)
        </dd>
    </dl>
</div>
<a class="btn btn-warning " asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
<a class="btn btn-outline-info" asp-action="Index">Back to List</a>
  
        
   


