@model SonmezERP.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visiblity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visiblity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNameTr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNameTr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceTl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceUSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceUSD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
