@model IEnumerable<SonmezERP.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visiblity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNameTr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceUSD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CeateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visiblity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNameTr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceTl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceUSD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CeateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
