@model IEnumerable<SonmezERP.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Ürünler Sayfası</h1>

<div class="row d-flex justify-content-center">
    @if (User.IsInRole("Products_Create") || User.IsInRole("Admin"))
    {
        <a class="btn btn-success col-4 my-3" asp-action="Create">Yeni Ürün Oluştur</a>
    }

    <div class="col-2"></div>
    <a class="btn btn-info col-4 my-3" asp-controller="home" asp-action="index">Ana Sayfaya Dön</a>
</div>
<hr />
<div class="row d-flex justify-content-evenly">
    <h6 class="text-center">MARKALARIMIZ</h6>
    <div class="row justify-content-center ">
        <div class="row text-center">
            <form asp-action="Index" method="post">
                @{
                    List<Brand> marka = (List<Brand>)ViewBag.Brands;
                }
                <div class="btn-group">
                    @foreach (var item in marka)
                    {
                        <button asp-rout-id="@item.Id" type="submit" class="btn btn-primary d-xl-block my-3"
                            asp-action="index">@item.BrandName</button>
                    }
                </div>

            </form>
        </div>

    </div>
    <h6 class="">MARKALARIMIZ</h6>
    <div class="btn-group">
        <a class="btn btn-primary col-2 my-3" asp-action="">MANDELLA</a>
        <a class="btn btn-secondary col-2 my-3" asp-action="">LUCAS</a>
        <a class="btn btn-success col-2 my-3" asp-action="">SAĞLAM EV GEREÇLERİ</a>
        <a class="btn btn-info col-2 my-3" asp-action="">SAĞLAM ENDÜSTRİYEL</a>
        <a class="btn btn-dark col-2 my-3" asp-action="">DELLA</a>
    </div>
</div>
<hr />
<span class="badge text-bg-warning my-3">Tanımlı Ürün Sayısı : @Model.Count()</span>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand!.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category!.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNameTr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color!.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceUSD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kdv!.KdvName)
            </th>
            <th>
                Koli/Adet
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.Visiblity)
            {

                <tr class="my-3">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand!.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category!.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNameTr)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color!.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceTl) ₺

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceUSD) $
                    </td>
                    <td>
                        %@Html.DisplayFor(modelItem => item.Kdv!.KdvName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails!.PackagePices)
                        @Html.DisplayFor(modelItem => item.UnitsOfMeasurement!.UnitsOfMeasurementName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                        @Html.DisplayFor(modelItem => item.UnitsOfMeasurement!.UnitsOfMeasurementName)
                    </td>
                    <td>
                        @if (User.IsInRole("Products_Edit") || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen-to-square"></i> </a>
                        }
                        @if (User.IsInRole("Products_Details") || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i
                                    class="fa-solid fa-circle-info"></i></a>
                        }
                        @if (User.IsInRole("Products_Delete") || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                                    class="fa-solid fa-trash"></i></a>
                        }
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
<div class="text-center">
    <button class="btn btn-primary " id="back">
        <i class="fa-solid fa-arrow-left"></i>
        Back</button>
</div>